<div class="galaxy">
  <h3>Artea Blog</h3>
  <p class="description">
    Voyez les derniers articles que j'ai écris, juste là !
  </p>
  <div class="solaris">
    {% for category in categories %}
      {% if article.category == category %}
        <h4>{{ article.astral_category }}</h4>
        <div class="planet">
          <h5>{{ article.astral_name }}</h5>
          <p class="description">
            {{ article.astral_description }}
          </p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>
