<div class="galaxy container shadow">

  <h3 class="title">Artea Blog</h3>

  <p class="description">
    Voyez les derniers articles que j'ai écris, juste là !
  </p>

  <div class="solaris-zone">

    {% for category in categories %}
      <div class="solaris shadow">
        <h4>{{ category.name }}</h4>
        <div class="planet-zone">

          {% for article in articles %}
            {% if article.category == category %}

              <div class="planet-from-galaxy">

                <div class="planet-background">
                  <div class="spinner-box">
                    <div class="blue-orbit leo">
                      <img class="background planet-background" src="https://source.unsplash.com/EXSWs3H4TSg/333x333/" alt="Alchemya Dépôt-Vente">
                    </div>
                    <div class="green-orbit leo">
                      <img class="background planet-background" src="https://source.unsplash.com/EXSWs3H4TSg/333x333/" alt="Alchemya Dépôt-Vente">
                    </div>
                    <div class="red-orbit leo">
                      <img class="background planet-background" src="https://source.unsplash.com/EXSWs3H4TSg/333x333/" alt="Alchemya Dépôt-Vente">
                    </div>
                  </div>
                </div>

                <div class="planet-foreground">
                  <h5>{{ article.astral_name }}</h5>
                </div>

                <a class="filter" href="#"></a>

              </div>

            {% endif %}
          {% endfor %}

        </div>
      </div>
    {% endfor %}

  </div>

</div>
