<div class="planet-background">
  <div class="spinner-box">
    <div class="blue-orbit leo">
      <img class="background planet-background" src="{{ article.astral_cover.url }}" alt="Image Planet n°1 Article {{ article.name }}">
    </div>
    <div class="green-orbit leo">
      <img class="background planet-background" src="{{ article.astral_cover.url }}" alt="Image Planet n°2 Article {{ article.name }}">
    </div>
    <div class="red-orbit leo">
      <img class="background planet-background" src="{{ article.cover.url }}" alt="Image Planet n°3 Article {{ article.name }}">
    </div>
  </div>
</div>
