<div id="artea_game_dontclick" class="d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-primary mx-3 px-5 py-1 button-artea" data-buttonartea="1" href="#">
      ne clique pas là
    </a>
    <a class="btn btn-primary mx-3 px-5 py-1 button-artea" data-buttonartea="2" href="#">
      tu peux cliquer
    </a>
  </div>
  <div class="book-artea py-3 display-3 d-flex flex-column justify-content-center align-items-center">

  </div>
  <div class="score-artea">

  </div>
</div>
