{% load static %}

<section id="CONTACT" class="container">

  <hr>

  <h2 class="section-title pt-5">
    Contactez-Moi !
  </h2>

  <h3 class="section-subtitle pb-5">
    Je suis disponible par mail ou par téléphone en journée et les
    soirs de pleine lune.
  </h3>

  <div class="row">

    <div class="col-12 col-md-3">

      <article class="contact-list d-flex flex-column justify-content-center align-items-start text-start">
        <div class="d-block p-3">
          <p>
            Téléphone
          </p>
          <a href="tel:+33648115111">
            06 48 11 51 11
          </a>
        </div>
        <div class="d-block p-3">
          <p>
            EMail
          </p>
          <a href="mailto:arthur.neyer@muggum.fr">
            arthur.neyer@muggum.fr
          </a>
        </div>
        <div class="d-block p-3">
          <p>
            Adresse
          </p>
          <a href="#">
            Strasbourg
          </a>
        </div>
        <div class="d-block p-3">
          <p>
            Instagram
          </p>
          <a href="https://www.instagram.com/gsw_ww/">
            gsw_ww
          </a>
        </div>
        <div class="d-block p-3">
          <p>
            LinkedIn
          </p>
          <a href="https://www.linkedin.com/in/arthur-neyer/">
            arthur-neyer
          </a>
        </div>
      </article>

    </div>
    <div class="col-12 col-md-9">

      <div class="d-flex flex-column justify-content-center align-items-center p-3 h-100">
        <article class="contact-noform">
          <h1>Oups ! Pas de formulaire...</h1>
          <h2>Vous pouvez me retrouver partout sur Internet !</h2>
          <p class="contact-info">
            envoyez-moi un mail ou un message sur insta
          </p>
          <h3 class="p-3">Mon Système Professionnel</h3>
          <div class="uniVers-contact-solaris">
            <div class="background">
              <img class="img-fluid" src="{% static "identity/images/milky_way.jpg" %}" alt="Milky Way">
            </div>
            <div class="terra">
              <h5 class="terra-name">LinkedIn</h5>
              <a class="terra-link terra-img" href="https://www.linkedin.com/in/arthur-neyer/">
                <img class="img-fluid" src="{% static "identity/images/terrae/linkedin.png" %}" alt="LinkedIn Terra">
              </a>
            </div>
            <div class="terra">
              <h5 class="terra-name">GitHub</h5>
              <a class="terra-link terra-img" href="https://github.com/GoswaTech/">
                <img class="img-fluid" src="{% static "identity/images/terrae/github.png" %}" alt="GitHub Terra">
              </a>
            </div>
            <div class="terra">
              <h5 class="terra-name">Insta</h5>
              <a class="terra-link terra-img" href="https://www.instagram.com/gsw_ww/">
                <img class="img-fluid" src="{% static "identity/images/terrae/insta.png" %}" alt="Insta Terra">
              </a>
            </div>
          </div>
          <h3 class="p-3">Mon Système Artistique</h3>
          <div class="uniVers-contact-solaris">
            <div class="background">
              <img class="img-fluid" src="{% static "identity/images/orion.jpg" %}" alt="Milky Way">
            </div>
            <div class="terra">
              <h5 class="terra-name">Insta</h5>
              <a class="terra-link terra-img" href="https://www.instagram.com/gsw_ww/">
                <img class="img-fluid" src="{% static "identity/images/terrae/insta.png" %}" alt="Insta Terra">
              </a>
            </div>
            <div class="terra">
              <h5 class="terra-name">YouTube</h5>
              <a class="terra-link terra-img" href="https://www.youtube.com/channel/UCi39GCo_X0X5Cuk6m1-rg4w/">
                <img class="img-fluid" src="{% static "identity/images/terrae/youtube.png" %}" alt="YouTube Terra">
              </a>
            </div>
            <div class="terra">
              <h5 class="terra-name">Unsplash</h5>
              <a class="terra-link terra-img" href="https://unsplash.com/@gsw_ww/">
                <img class="img-fluid" src="{% static "identity/images/terrae/unsplash.png" %}" alt="Unsplash Terra">
              </a>
            </div>
          </div>
        </article>
      </div>

    </div>

  </div>

</section>
