{% load static %}

<header class="uniVers_parallax parallax-window mb-3" data-parallax="scroll" data-image-src="{% static "identity/images/parallax_img.jpg" %}">
  <div class="overlay">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
      <h1>Houston, Ici Arthur</h1>
      <h2>Développeur & WebDesigner depuis 797 av. J.C.</h2>
      <div class="col-7 col-md-4 col-lg-3">
        <hr>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-primary mx-3 px-5 py-1" href="#">
          ne clique pas là
        </a>
        <a class="btn btn-primary mx-3 px-5 py-1" href="#">
          tu peux cliquer
        </a>
      </div>
    </div>
  </div>
</header>
