{% load static %}

<header class="uniVers_parallax parallax-window mb-3" data-parallax="scroll" data-image-src="{% static "identity/images/parallax_img.jpg" %}">
  <div class="overlay">
    <div class="d-flex flex-column justify-content-center align-items-center h-100 p-2">
      <h1 class="text-center">Houston, Ici Arthur</h1>
      <h2 class="text-center">Développeur & WebDesigner depuis&nbsp797&nbspav.&nbspJ.C.</h2>

      <div class="col-7 col-md-4 col-lg-3">
        <hr>
      </div>

        {#% include "arteagames/dontclickartea.html" %#}

        <div class="col-12">
          {% include "arteablog/components/header_galaxy_to_planets.html" %}
        </div>

    </div>
  </div>
</header>


<script type="text/javascript" src="{% static "singularity/js/arteagames.js" %}"></script>
