{% load static %}


<section id="PORTFOLIO" class="container-fluid">

  <h2 class="section-title pt-5">
    Portfolio
  </h2>

  <h3 class="section-subtitle pb-5">
    En vrac, mes images instagram, quelques projets web, des montages d'image
    et peut-être un jour des musique variées.
    Profitez bien du voyage ;)
  </h3>

  {% include "identity/home/muggum_modules/muggum_portfolio.html" %}

</section>

<section id="CALL_TO_ACTION" class="container">

  <div class="row py-5">
    <div class="col-md-7 col-12">
      <h3 class="px-3">Vous avez des projets qui ont besoin de l'appuie du monde Digital ?</h3>
      <p class="px-3">
        Saviez-vous qu'en moyenne, nous passons environ 4h30 sur Internet ?
        Je travail pour qu'ils puissent profiter de leur voyage dans
        la matrice ;) Le côté utile et pratique n'en reste pas moins important
        car il permet de poser des limites à cette matrice qui occupe déjà trop
        nos esprits.
      </p>
    </div>
    <div class="col-md-5 col-12 d-flex justify-content-center align-items-center">
      <a class="btn btn-secondary" href="https://www.instagram.com/gsw_ww/">Lien Vers la Matrice</a>
    </div>
  </div>

</section>
