{% load static %}

<section id="STATS" class="container-fluid px-0 py-3">

  <div class="muggum_stats_parallax parallax-window" data-parallax="scroll" data-image-src="https://source.unsplash.com/0VGG7cqTwCo/720x420/">

    <div class="overlay position-sm-absolute position-relative">

      <div class="d-flex flex-wrap justify-content-center align-items-center h-100">
        <div class="col-12 col-md-12 col-lg-7">
          <div class="row h-100">
            <div class="col-12 col-md-4">
              <div class="stat-zone">
                <i class="fab fa-instagram"></i>
                <h3>500+</h3>
                <p>Photos sur Instagram</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="stat-zone">
                <i class="fas fa-cloud"></i>
                <h3>3</h3>
                <p>Sites Web Réalisés</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="stat-zone">
                <i class="fab fa-discord"></i>
                <h3>Discord</h3>
                <p>Visitez <a href="https://muggum.fr/">muggum.fr</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-5 d-flex justify-content-center align-items-center p-3">
          <img class="img-cv img-fluid" src="{% static "identity\images\PhotoCVSmall.jpg" %}" alt="CV Photo">
        </div>
      </div>

    </div>

  </div>

</section>
