<section id="WORLDS" class="container">

  <div class="d-flex flex-wrap justify-content-center align-items-center">

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card service-card p-3">
        <div class="card-body">
          <i class="icon fas fa-code"></i>
          <h2>WebDesigner & Développeur</h2>
          <p>
            Un projet est un assemblement de composants,
            je suis celui qui va fluidifier les intéractions
            avec la machine.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card service-card p-3">
        <div class="card-body">
          <i class="icon fas fa-camera"></i>
          <h2>Artiste & Alchimiste</h2>
          <p>
            La quête de la pierre philosophale... Qu'est-ce que ça veut
            dire au juste ? Je fais des photos quand je mine du plomb,
            puis je le transmute !
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card service-card p-3">
        <div class="card-body">
          <i class="icon fas fa-globe-americas"></i>
          <h2>Aventurier de la Terre</h2>
          <p>
            Le monde est grand mais nous sommes petits. Ce monde est beau
            mais je ne vois que du plastique. Ce monde est chaud, bientôt
            je vivrai en antarctique.
          </p>
        </div>
      </div>
    </div>

  </div>

</section>
