@import "univers_colors"


.galaxy

  width: 100%
  padding: 24px

  background-color: $color_4_alpha_42
  border-radius: 7px

  color: white

  & h3.title, p.description
    width: 100%
    text-align: center

  & .solaris-zone
    width: 100%
    
    display: flex
    justify-content: center
    align-items: stretch
    flex-wrap: wrap

    padding: 12px
