@import "univers_colors"


.solaris
  position: relative

  margin: 7px
  padding: 7px

  border-radius: 7px

  background-color: rgba(0, 0, 0, 0.32)

  & h4.title
    z-index: 77
    position: relative
    color: white
    text-shadow: 0 0 12px $color_4

  & .planet-zone
    z-index: 77
    position: relative

    width: 100%

    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
