{% extends "base.html" %}

{% load static %}


{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block js_head_modules %}
  {{ block.super }}
  <!-- AnimeJS -->
  <script src="{% static "node_modules/animejs/lib/anime.min.js" %}"></script>
  <script src="{% static "identity/js/isInViewport.js" %}"></script>
{% endblock js_head_modules %}

{% block content %}

  {% include "identity/home/components/parallax_header.html" %}
  {% include "identity/home/components/worlds.html" %}
  {% include "identity/home/components/about.html" %}
  {% include "identity/home/components/quote.html" %}
  {% include "identity/home/components/stats.html" %}
  {% include "identity/home/components/portfolio.html" %}
  {% include "identity/home/components/contact.html" %}

{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
